{
  "presets": [
    ["@babel/env"]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "src"
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "spec": true
      }
    ],
    "@babel/proposal-object-rest-spread"
  ]
}