{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": "src"
    }],
    ["@babel/plugin-proposal-class-properties", {
      "spec": true
    }],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env"]
      ]
    }
  }
}